<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <lord-icon
                src="https://cdn.lordicon.com/fihkmkwt.json"
                trigger="loop"
                colors="primary:#121331,secondary:#4bb3fd"
                scale="60"
                state="hover-jump-spin"
                style="width: 30px; height: 35px; position: relative"
            >
            </lord-icon>
            <a class="navbar-brand p-1" href="/">알찬하루</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/"
                        ></a>
                    </li>
                </ul>
                <!-- <button type="submit" onclick="go_login()" >로그인</button>
                <button type="submit" onclick="go_register()" >회원가입</button> -->
                <a class="centerText" href="/board">글작성 |</a>
                <a class="rightText" href="로그인">로그인</a>
                <!-- <button type="button" class="btn btn-primary" onclick="logout()">로그아웃</button> -->
            </div>
        </div>
    </nav>
</header>
